@page
@model QLNT.Pages_HoaDon.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoaDon.Thang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoaDon.Thang)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoaDon.Nam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoaDon.Nam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoaDon.TienPhong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoaDon.TienPhong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoaDon.TienDien)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoaDon.TienDien)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoaDon.TienNuoc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoaDon.TienNuoc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoaDon.TienDichVu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoaDon.TienDichVu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoaDon.TongTien)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoaDon.TongTien)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoaDon.NgayLap)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoaDon.NgayLap)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoaDon.TrangThai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoaDon.TrangThai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoaDon.GhiChu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoaDon.GhiChu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoaDon.HopDong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoaDon.HopDong.HopDongId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.HoaDon.HoaDonId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
