@page
@model QLNT.Pages_NguoiThue.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NguoiThue[0].HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiThue[0].SoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiThue[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiThue[0].CCCD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiThue[0].NgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiThue[0].DiaChi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.NguoiThue) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CCCD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NguoiThueId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NguoiThueId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NguoiThueId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
